
// Variables
$color-1: #FFFFFF;
$orange: #ff9800;
$orange-darken: darken($orange, 5%);
$tran-white: rgba(255, 255, 255, .5);
$tran-black: rgba(0, 0, 0, .5);

// Grey
$grey: #e0e0e0;
$grey-darken: darken($grey, 5%);
