.btn {
    border-radius: 2px;
    border: none;
}

.btn-primary {
  background-color: $orange;

  &:active{
    border-color: $orange-darken;
    background-color: $orange-darken;
  }

  &:hover {
    background-color: $orange-darken;
  }
}
