.easy-sidebar {
  z-index: 9;
  background-color: #fafafa;
  border-color: $grey;
  padding-top: 71px;

  .btn-primary {
    background-color: #fafafa;
    color: black;
    font-weight: bold;
    border-color: #fafafa;
    text-align: left;
    padding-left: 15px;

    &:hover {
      background-color: $orange;
      color: white;

    &:active{
      background-color: $grey;
      border-color: white;
    }
  }
}

 .btn-secondary {
   background-color: white;
   color: black;
   font-weight: normal;
   text-align: left;
   padding-left: 30px;

  &:hover{
    background-color: #ffb74d;
    color: white;
  }
}

  .btn-selected-primary {
    background-color: $grey;
    border-color: white;

  }

  .btn-selected-secondary {
    background-color: #ffb74d;
    color: white;
    border-color: white;
  }
}
