.navbar-farmacity{
  height: 70px;
  box-shadow: 0 2px 5px 0 $tran-black;
  border-radius: 0 0 0 0;

  .navbar-brand{

    img{
      height: 40px;
    }
  }

  .nav{
    .open > a:focus{
      background-color: transparent;

    }
    a,
    a:hover{
      background-color: transparent;
    }

  }
}
